@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --logofontFamili: "DM Serif Text", serif;
  --logoFontWeight: 900;
  --logoFontSize: 2.5rem;
  --logoFontStyle: normal;
  --bodybgColor: #ffffff;
  --bodyFontFamily: "Roboto", serif;
}
body {
  max-width: auto;
  font-family: var(--bodyFontFamily);
  background-color: var(--bodybgColor);
}
a {
  text-decoration: none;
  color: #000000;
}

.nav {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  background-color: rgb(131, 219, 190);
}
.nav .logo {
  padding: 0.5rem;
  display: flex;
  flex-grow: inherit;
  align-items: center;
  cursor: pointer;
}
.nav .brand-logo {
  display: flex;
  align-items: center;
}
.nav .brand-logo img {
  padding-inline: 5px;
}
.nav .brand-logo a {
  font-family: var(--logofontFamili);
}
.nav .logo .slogan {
  display: flex;
  flex-direction: column;
  color: gray;
}
.nav .logo a {
  font-family: var(--logoFontStyle);
  font-weight: var(--logoFontWeight);
  font-size: var(--logoFontSize);
}
.nav .logo span {
  padding-inline: 1px;
  font-size: 1rem;
}

.nav .nav-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 30rem;
}
.nav .nav-search input {
  width: 70%;
  outline: none;
  padding: 5px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}
.nav .nav-search button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-inline: 0.5rem;
  border-width: 1px;
  border-radius: 5px;
  font-size: 1rem;
}
.nav .nav-search button i {
  padding-block: 0.5rem;
}

.user-menu-group {
  display: flex;
  gap: 1rem;
}
.nav .user-menu-group a {
  width: 7rem;
  display: flex;
  white-space: nowrap;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  gap: 0.2rem;
  color: aliceblue;
  background-color: rgb(38, 189, 126);
  border-radius: 10px;
}
.user-menu-group a:hover {
  background-color: rgb(30, 141, 95);
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  transform: translate3d(-50%);
}
.nav .menu-line {
  display: none;
  font-size: 2rem;
  text-shadow: #000000;
}
.menu-items {
  position: absolute;
}

/* Responsive nav bar */
@media (width<800px) {
  .menu-items {
    background-color: rgb(135, 138, 137);
  }
  .nav .nav-search {
  }
  .user-menu-group {
  }
  .nav .menu-line {
    display: flex;
    font-size: 3rem;
    text-shadow: #000000;
  }
}
