@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --logofontFamili: "DM Serif Text", serif;
  --logoFontWeight: 900;
  --logoFontSize: 2.5rem;
  --logoFontStyle: normal;
  --bodybgColor: #ffffff;
  --bodyFontFamily: "Roboto", serif;
}
body {
  font-family: var(--bodyFontFamily);
  background-color: var(--bodybgColor);
}
a {
  text-decoration: none;
  color: #000000;
}

.nav {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  justify-content: space-between;
  background-color: rgb(131, 219, 190);
}
.nav .logo {
  padding: 0.5rem;
  display: flex;
  flex-grow: inherit;
  align-items: center;
  cursor: pointer;
}
.nav .brand-logo {
  display: flex;
  align-items: center;
}
.nav .brand-logo img {
  padding-inline: 5px;
}
.nav .brand-logo a {
  font-family: var(--logofontFamili);
}
.nav .logo .slogan {
  display: flex;
  flex-direction: column;
  color: gray;
}
.nav .logo a {
  font-family: var(--logoFontStyle);
  font-weight: var(--logoFontWeight);
  font-size: var(--logoFontSize);
}
.nav .logo span {
  padding-inline: 1px;
  font-size: 1rem;
}

.nav .menu-items .nav-search {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1rem;
  width: 30rem;
}
.nav .menu-items .nav-search input {
  outline: none;
  padding: 5px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.nav .menu-items .nav-search button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-inline: 0.5rem;
  border-width: 1px;
  border-radius: 5px;
  font-size: 1rem;
  border: transparent;
  cursor: pointer;
}
.nav .menu-items .nav-search button i {
  padding-block: 0.5rem;
}

.nav .menu-items .user-menu-group {
  display: flex;
  gap: 1rem;
  padding-block: 5px;
}
.nav .user-menu-group a {
  width: 7rem;
  display: flex;
  white-space: nowrap;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  gap: 0.2rem;
  color: aliceblue;
  background-color: rgb(38, 189, 126);
  border-radius: 10px;
}
.user-menu-group a:hover {
  background-color: rgb(30, 141, 95);
  transition: all 0.5s ease-in-out;
  transform: scale(1.08);
  transform: translate3d(-50%);
}
.nav .menu-line {
  display: none;
  font-size: 2rem;
  text-shadow: #000000;
}
.menu-items {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Responsive nav bar */
@media (width<870px) {
  .menu-items {
    display: none;
  }
  .open {
    display: block;
    margin: -0.6rem;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 6.4rem;
    background-color: rgb(131, 219, 190);
    transition: all 0.3s ease-in;
  }
}

.container {
  width: 100%;
  height: calc(80vh);
  justify-content: space-evenly;
  display: flex;
  margin-block: 0.5rem;
  padding: 1rem;
  background-color: rgb(240, 238, 236);
  box-sizing: border-box;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}
.container .item-container {
  background-color: aqua;
  width: 20%;
  height: 40%;
  padding: 1rem;
  border: transparent 2px solid;
  border-radius: 0.3rem;
  box-shadow: 1px 5px 3px rgba(114, 112, 112, 0.2);
}
